---
---

@import "{{ site.theme }}";


body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #57575a;
  background: #fff;
  height: 100%;
  position: relative;
  background-image: url(iStock-1055056612-edited-flipped.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
