---
---

@import "{{ site.theme }}";


body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #57575a;
  background: #fff;
  height: 100%;
  position: relative;
  background-image: url(iStock-1055056612-edited-flipped.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

h1, h2, h3 {
  color: #263745;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}
