---
---

@import "{{ site.theme }}";


body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  color: #57575a;
  background: #f4f4f4;
  height: 100%;
  position: relative;
  background-image: url(iStock-1055056612-edited-flipped.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}


h1 {
  color: #FFFFFF;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}


h2 {
  color: #263745;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}


h3 {
  color: #005E65;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}


a link {
  text-decoration: underline;
}


button {
  background-color: #005E65; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-weight: bold;
}

