---
---

$header-bg-color: #097F7D;
$header-bg-color-secondary: #263745;

$body-link-color: #097F7D;
$blockquote-text-color: #005E65;
$section-headings-color: #243746;

@import "{{ site.theme }}";


body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  color: #57575a;
  background: #f4f4f4;
  height: 100%;
  position: relative;
  background-image: url(iStock-1055056612-edited-flipped.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}


h1 {
  color: #FFFFFF;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 15px 0;
}


h2 {
  text-color: #263745;
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}


h3 {
  tex-color: #005E65;
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}


link {
  text-decoration: underline;
  color: #005E65;
}


button {
  background-color: #097F7D; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
}


.button:hover {
  text-decoration: underline;
}


hr {
  border-color: #263745;
}


.hero {
    position: relative;
    width: 100vw;
    height: 60vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: url(iStock-1055056612-edited-flipped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}

.hero {
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  background-color:#eee;
}
.container{
  margin: 40px auto;
  width:400px;
  height:400px;
  background-color:#f4f4f4;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  .box{
    background-color:#f4f4f4;
    padding:40px;
    border-radius:0px;
    color:#f4f4f4;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    font-family:"Source Sans Pro", Arial, sans-serif;
  }

}
